.alert-closed {
  opacity: 0;
  transition: all 300ms;
  width: 0px;
  text-align: center;
  padding: 0px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.alert-opened {
  transition: all 300ms;
  width: 400px;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  opacity: 1;
  display: flex !important;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width:900px) {
    width: 375px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
}

input:-webkit-autofill {
  color: white !important;
  -webkit-text-fill-color: white !important;
}

.Navbar {
  position: absolute !important;
  left: 0px !important;
  top: 0px !important;
  width: 100% !important;
  background-color: transparent !important;
  margin-top: 15px;
}
.navButton{
  color:  #22334D!important;
   font-weight: 900 !important;
   text-transform: capitalize !important;
   font-size: 14px !important;
   
}
.text-blue{
  color: #22334D !important;
}
.SearchItem{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: #6c757d;
  letter-spacing: 1px!important;
  transition: 400ms;
  cursor: pointer;
}
.SearchItem:hover{
  background-color: gainsboro;
  color: #22334D;
  transition: 400ms;

}
a{
  color: red;
  text-decoration:none ;
}
.omd-button{
  border-radius: 20px !important;
  background-color: #22334D !important;
  text-transform: capitalize !important;
  color: white !important;
}
.omd-button-outlined{
  background-color: transparent !important;
  border-radius: 20px !important;
  text-transform: capitalize !important;
  color: #22334D !important;
  transition: all 300ms !important;
  border-color: #22334D !important;
}
.omd-button-outlined:hover{
  background-color: #22334D20 !important;
  transition: all 300ms !important;
}
.omd-button-outlined.error{
  border-color: red !important;
  color: red !important;
}
.omd-button-outlined.error:hover{
  background-color: #ff000020 !important;
  color: red !important;
}